<% if flash[:notice] %>
		<div class="flash notice">
		<%= flash[:notice] %>
		</div>
	<% end %>	
	<% if flash[:alert] %>
		<div class="flash notice">
		<%= flash[:alert] %>
		</div>
	<%end%>

<div id="home_wrapper">

	<div class="home_sidebar">
		<nav class="home_nav">
			<ul>
			  <li class="navlink"><a href="/home"><i class="fa fa-home fa-2x" class="fontawesome"></i><span class="nav_item">Home</span></a></li>
			  <li class="navlink"><a href="/profile"><i class="fa fa-user fa-2x" class="fontawesome"></i><span class="nav_item"> Profile</span></a></li>
			  <li class="navlink"><a href="/contact_us"><i class="fa fa-envelope-square fa-2x" class="fontawesome"></i><span class="nav_item"> Contact Us </span></a></li>
			  <li class="navlink"><a href="/"><i class="fa fa-sign-out fa-2x" class="fontawesome"></i><span class="nav_item">Logout</span></a></li>
			</ul>
		</nav>

		<hr id="sidebar_hr">
		
		<p id="users_text">Users</p>
		<ul id="home_sidebar_users">
	    <% User.all.each do |account| %>
	      <a href="users/<%= account.id %>">
	        <li class="home_sidebar_users_list"><img id="user_pic" src="/img/profile_pic.png"></li>
	        <li class="home_sidebar_users_list" id="users_name"><%= account.fname + " " + account.lname %></li>
	      </a><br>
	    <% end %>
	  </ul>
	</div>

	<div id="posts_wrapper">

		<div id="posts">
			<div id="welcome_heading">
				Welcome,  
				<%= current_user.fname.capitalize + " " + current_user.lname.capitalize %>
			</div>

			<span class="home_subheader">Create a new post</span>

			<div id="home_post">
				<form action="/post_tweet" method="POST">
				  <label for="title" class="formlabel">Title</label>
				  <input type="text" name="[post]title" class="title">
				  <label for="content" class="formlabel" maxlength="150">Content</label>
				  <textarea type="text" rows="4" cols="50" name="[post]body" class="textarea"></textarea>	
				  <div class="float" id="submit">
				      <input type="submit" value="Post" class="post_submitBtn"/>
		      </div>
				</form>
	   	</div>

	<!--     <div id="slider">
	    <img src="img/img.jpg" id="sliderimg"/>
	    <div id="left_holder"><img onClick="slideshow(-1)" id="sliderleftarrow" src="img/arrow_left.png"></div>
	    <div id="right_holder"><img onClick="slideshow(-1)" id="sliderrightarrow" src="img/arrow_right.png"></div>
	    </div> -->
			<hr>

		  <div id="tweets_heading">Tweets</div>
			<div id="tweets_method">
				<% Post.all.each do |post|%>
					<hr color="grey">
					<div class="post_fname">
					   @<%= post.user.fname.capitalize + " " + post.user.lname.capitalize %>
					   <span><%= date(post.created_at) %></span>
					   <button type="button" value="plus" name="plus" formmethod="POST" formaction="/users/:id/follow" class="submitBtn"> +</button>
					</div>
					<div class="post_title">   
					   <%=post.title %>

					</div>  
					<div class="post_body"> 
						<%= post.body %>
					</div>
					<br>
				
				<% end %>
			</div>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#submit").click(function(){
			alert("Your message has been posted!")
		})
	});	

//Slideshow
	// var imageCount = 1;
	// var total = 5;

	// function slideshow(x) {
	// 	var image = document.getElementById('sliderimg');
	// 	imageCount = imageCount + x;
	// 	if(imageCount > total){imageCount = 1;}
	// 	if(imageCount < 1){imageCount = total;}
	// 	image.src = "img/img"+ imageCount +".jpg"
	// }

	// window.setInterval(function slide(){
	// 	var image = document.getElementById('sliderimg');
	// 	imageCount = imageCount + 1;
	// 	if(imageCount > total){imageCount = 1;}
	// 	if(imageCount < 1){imageCount = total;}
	// 	image.src = "img/img"+ imageCount +".jpg";
	// },5000);
</script>





















