 
<div id="leftnav">
	<ul>
	  <li class="navlink"><a href="/home">Home</a></li>
	  <li class="navlink"><a href="/profile">Profile</a></li>
	  <li class="navlink"><a href="/">Logout</a></li>
	</ul>
</div>

<div class="profile_wrapper">

	<section class="profile_top">
		<header>
			<h1 id="profile_name"><%= current_user.fname + " " + current_user.lname %></h1>
			<button id="edit_profileBtn" onclick="window.location.href='/update_profile'" class="submitBtn">Update Profile</button>
		</header>

		<div id="profile_bio">
			<img id="profile_pic" src= "/img/profile_pic.png" alt="profile-pic"/>
			<div class="bio_content">
				<p><%= current_user.profile.bio %></p>
				<p><%= current_user.profile.gender %></p>
				<p><%= current_user.profile.birthday %></p>
			</div>
		</div>
	</section>
		
	<br clear="both">

	<section class="profile_bottom">
		<div id="profile_sidebar">
			<h2 class="sidebar_content">INTERESTS</h2>
			<h2 class="sidebar_content">FOLLOWERS</h2>
			<% current_user.followers.each do |user| %>
			<ul>
			<li><%= user.fname + " " + user.lname %></h1></li>
			</ul>
			<% end %>
			<h2 class="sidebar_content">FOLLOWS</h2>
			<% current_user.follwed.each do |user| %>
			<ul>
			<li><%= user.fname + " " + user.lname %></li>
			</ul>
			<% end %>
			<h2 class="sidebar_content">LINKS</h2>

		<div id="profile_feed">

			<h2 id="profile_feed_title">My Posts</h2>
			<p id="create_post">Create a New Post</p>

			<form method="POST" action="/post_profile_tweet" id="post_input">
				<input name="[post]title" id="feed_title" type="text" placeholder="Title">
				<br><br>
				<textarea name="[post]body" id="feed_content" type="text" placeholder="Enter content here: "></textarea>
				<br><br>
				<input type="submit" id="feed_submitBtn" value="Post">
			</form>

			<div id="profile_feed_method">
				<% Post.all.each do |post|%>
				    <hr color="grey">
					<div class="profile_post_title">   
					   <%= post.title %>
					</div>  
					<div class="profile_post_body"> 
					   <%= post.body %>
					</div>
					<br>
				<% end %>	
			</div>

			<div>
				<form method="POST" action="/user_id">
				 <input type="submit" class="submitBtn" id="delete_profileBtn" value="Delete Account">
				</form>

			</div>

		</div>
	</section>

</div>

























